PORT=4000
JWT_SECRET=replace_this_with_a_long_random_string
AUTH_SERVICE_URL=http://localhost:5001
BOOKS_SERVICE_URL=http://localhost:5002
TRACKING_SERVICE_URL=http://localhost:5003
REVIEWS_SERVICE_URL=http://localhost:5004
SOCIAL_SERVICE_URL=http://localhost:5005
RECOMMEND_SERVICE_URL=http://localhost:5006
NOTIFY_SERVICE_URL=http://localhost:5007